{% extends "students/base.html" %}

{% load static from staticfiles %}

{% load pagenav %}

{% block meta_title %}Journal{% endblock meta_title %}

{% block title %}Attendance Journal{% endblock title %}

{% block content %}

{% if not students %}

<div class='alert alert-warning'>
	There is not any student still. Please,
	<a href="{% url 'students_add' %}">add</a> the first one.
</div>

{% else %}

<div class='alert alert-warning'>
	Journal changes got saving automatically after every click in the table.
	<span id='ajax-progress-indicator'>Saving...</span>
</div>

<p id='journal-nav' class='text-center'>
	<a href='?month={{ prev_month }}' title='Previous Month'>&larr;</a>
	<!-- TODO: translate month name -->
	<strong>{{ month_verbose }} {{ year }}</strong>
	<a href='?month={{ next_month }}'
		title='Next Month'>&rarr;</a>
</p>
<table class='table table-hover table-striped table-bordered' id='students-journal'>

	<thead>
		<tr class='header'>
			<th class='num'>#</th>
			<th class='name'>Student</th>
			{% for day in month_header %}
			<th class='day-header'>
				<!-- TODO: translate day name -->
				{{ day.verbose }}
				<br />
				{{ day.day }}
			</th>
			{% endfor %}
		</tr>
	</thead>
	
	<tbody>
		
		{% csrf_token %}
		
		{% for student in students %}
		<tr>
		
			<td>
				{% if is_paginated %}
					{{ page_obj.start_index|add:forloop.counter|add:"-1" }}
				{% else %}
					{{ forloop.counter }}
				{% endif %}
			</td>
			
			<td>
				<a title='Edit' target='_blank' href="{% url 'students_edit' student.id %}">
					{{ student.fullname }}
				</a>
			</td>
			
			{% for day in student.days %}
			<td class='day-box'>
				<input type='checkbox' data-student-id='{{ student.id }}' data-date='{{ day.date }}' 
					   data-url='{{ student.update_url }}' value='1'
					   {% if day.present %} checked='checked' {% endif %} />
			</td>
			{% endfor %}
			
		</tr>
		{% endfor %}
		
	</tbody>
</table>

{% endif %}


{% pagenav object_list=students is_paginated=is_paginated paginator=paginator %}

{% comment %}
{% pagenav object_list=students is_paginated=is_paginated paginator=paginator %}
{% with object_list=students %}
	{% include 'students/pagination.html' %}
{% endwith %}
{% endcomment %}

{% endblock content %}
